

.mobile-nav .nav-icon-open { display : none; }
.mobile-nav .nav-icon-close { 
    position: fixed;
    top : var(--padding-y-default);
    right : var(--padding-x-default);
    display : block; 
    z-index : 110;
}


.mobile-nav .nav-links {
    position : fixed;
    inset : 0 0 0 10vw;
    z-index : 100;
    height : 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: end;
    align-items: end;
    gap : 2rem;

    padding-inline : var(--padding-x-default);
    padding-top : 6rem;

    background-color: hsla(var(--navbar-bg-clr), 0.95);
    font-size: var(--font-size-5);

    animation : mobile-menu-in 350ms cubic-bezier(.17,.67,.57,.96) both;
}


.mobile-nav .nav-links-submenu {
    padding-right : 0.5rem;
}


.mobile-nav .nav-links li {
    margin-block : 0.5rem;
    text-align: right;
}

.mobile-nav .nav-sub-link {
    color : hsl( var(--nav-link-clr) );
    font-size: var(--font-size-2);
}

.mobile-nav .nav-socials {
    display : flex;
    position: fixed;
    top : var(--padding-y-default);
    left : calc( var(--padding-x-default) + 1rem );
    z-index : 110;
}


.mobile-nav .nav-link-active::after {
    inset : auto 25% -6px 25%;
}





.mobile-nav .nav-links-submenu {
    display : none;
}

.mobile-nav .nav-links-submenu-isopen {
    display : block;
}



.mobile-nav .nav-links li, 
.mobile-nav .nav-icon-close,
.mobile-nav .nav-socials {
    --duration : 250ms;
    --gap : 100ms;
    --timing-function : cubic-bezier(.17,.67,.57,.96);

    animation : mobile-menu-in var(--duration) var(--timing-function) both;
}

.mobile-nav .nav-links li:nth-child(1) { animation-delay: calc( var(--gap) * 1 ) }
.mobile-nav .nav-links li:nth-child(2) { animation-delay: calc( var(--gap) * 2 ) }
.mobile-nav .nav-links li:nth-child(3) { animation-delay: calc( var(--gap) * 3 ) }
.mobile-nav .nav-links li:nth-child(4) { animation-delay: calc( var(--gap) * 4 ) }
.mobile-nav .nav-links li:nth-child(5) { animation-delay: calc( var(--gap) * 5 ) }
.mobile-nav .nav-links li:nth-child(6) { animation-delay: calc( var(--gap) * 6 ) }
.mobile-nav .nav-links li:nth-child(7) { animation-delay: calc( var(--gap) * 7 ) }
.mobile-nav .nav-links li:nth-child(8) { animation-delay: calc( var(--gap) * 8 ) }
.mobile-nav .nav-links li:nth-child(9) { animation-delay: calc( var(--gap) * 9 ) }
.mobile-nav .nav-links li:nth-child(10) { animation-delay: calc( var(--gap) * 10 ) }



@keyframes mobile-menu-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.mobile-nav-closing .nav-links,
.mobile-nav-closing .nav-icon-close,
.mobile-nav-closing .nav-socials {
    display : flex;
    animation : mobile-menu-out 250ms cubic-bezier(.17,.67,.57,.96) both;
}

@keyframes mobile-menu-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}






